<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="box">

    <h2>🔐 Password Generator</h2>

    <form action="/generate" method="post">

        <input type="number"
               name="length"
               placeholder="Enter password length"
               required>

        <button type="submit">Generate Password</button>

    </form>

    <h3>Your Password:</h3>

    <p>{{ password }}</p>

</div>

</body>
</html>