body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: black;
    font-family: Arial;
}

.box {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;

    box-shadow: 0 0 20px rgba(255,255,255,0.1);
}

h2, h3, p {
    color: white;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;

    border: none;
    border-radius: 6px;
}

button {
    width: 95%;
    padding: 10px;

    background: #00c853;
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #00e676;
}